{% extends 'base.html' %}
{% block content %}


<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1 class="text-secondary">{{ task }}</h1>
      {{ error}}
      <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>

      <div class="mt-5 d-flex">
        <form action={% url 'task-complete' task.id %} method="POST">
          {% csrf_token%}
          <button type="submit" class="btn btn-secondary">Complete</button>
        </form>

        <form action={% url 'task-delete' task.id %} method="POST">
          {% csrf_token%}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </div>

    </div>
  </div>
</main>

{% endblock%}
